extends layout

block content
  include templates/nav
  
  div(class=['ui','container','grid','stackable'])
    div(class=['ten','wide','column'])
      h3(class=['ui','header','blue'])= 'CRUD con Node JS, Express JS y Mysql'
  

