doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/semantic/semantic.css')
    script(src='/javascripts/jquery.js')
    script(src='/semantic/semantic.js')    

  body
    block content

    div(class=['ui','container','grid','stackable'])
      div(class=['seven','wide','column'])
        p(class=['ui','header','blue','dividing'])= 'Desarrollo Web / Eduardo Barrios'
      
      
