.ui.pointing.menu
  a.item(href='http://localhost:3000/')
    | Inicio
  a.item(href='http://localhost:3000/nuevo')
    | Nuevo Producto
  a.item(href='http://localhost:3000/productos')
    | Ver Productos
  .right.menu
    .item
      .ui.transparent.icon.input
        input(type='text', placeholder='Buscar...')
        i.search.link.icon
